body{
    background: #343d4b;
    justify-content: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    width: 100%;
    height: 100%;
    margin-top: 10em;
    font-family: 'Montserrat', sans-serif;

}
div{
    display: block;
}
.container{
    border-radius: 25px;
    margin: auto;
    background-color: #222831;
    height: 402px;
    width: fit-content;
}
.leftbox{
    position: relative;
    float: left;
    height: 100%;
    border-radius: 25px;
    background-image:linear-gradient(135deg,rgb(25, 218, 208) 20%,rgba(33, 10, 243, 0.788) 80%), url(https://images.unsplash.com/photo-1559963110-71b394e7494d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80);
    width: 300px;
    flex: auto;
}
.rightbox{
    float: left;
    position: relative;
    width: 300px;
    height: 100%;
    justify-content: middle;
    text-align: center;
}
ul{
    list-style-type: none;
}
.leftbox {
    color: #fff;
    position: relative;
    size: 110%;
}
.leftbox:hover{
    transform: translateZ(0) scale(1.05) perspective(1000px);
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}
.nextdays div{
    position: relative;
    float: left;
}
.top {
    position: absolute;
    left: 25px;
    top: 25px;
}
.day,.date,.location{
    margin-top: 5px;
    margin-bottom: 5px;
}
.date,.location{
    font-size: 80%;
    font-weight: lighter;
}
.down {
    position: absolute;
    left: 25px;
    bottom: 25px;
}
.climate,.temp{
    margin-top: 0%;
    margin-bottom: 0%;
}
.info{
    color: white;
}
.info ul{
    display: block;
    height: 50px;
    padding: 20px;
}
.info ul li{
    margin: 10px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.nextdays{
    position: absolute;
    bottom: 100px;
    left:1.8em;
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    border-radius: 15px;
    background: #262e3b;
}
.nextdays ul{
    text-align: center;
    justify-content: space-between;
    display: flex;
    width: max-content;
    border-radius:15px ;
    padding-left:15px;
    padding-right: 15px;
    margin: 0%;
}
.nextdays ul li{
    height: inherit;
    float:left;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
    color: white;
    transition-property: color,background-colour,padding;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;

}
.nextdays ul li:hover {
    background-color: #fff;
    color: #222831;
    border-radius: 10px;
    padding: 15px;
}


.temps{
    font-size: 110%;
}
.location1{
    position: absolute;
    bottom: 25px;
    align-self: center;
    width: inherit;
    height: min-content;
}
.location1 button{
    padding: 7px;
    font-weight: bold;
    color: #fff;
    width: 80%;
    margin-left: 23px;
    border-radius: 16.2px;
    background-image:linear-gradient(135deg,rgb(110, 223, 217) 10%,rgba(55, 38, 206, 0.788) 80%)   ;
}
div.input{
    position:relative;
    bottom: 4em;
    display: flex;
    justify-content: center;
}

